* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-image: url(./task.jpg);
  background: linear-gradient(rgba(245, 240, 240, 0.8), rgba(245, 240, 240, 0)), url(./banner.jpg);
  background-size: cover;
}

.box {
  margin: 5% 20%;
}

h1 {
  padding-top: 10px;
  color: darkblue;
}

h1 span {
  color: rgb(99, 128, 99);
}

h3 {
  font-family: unset;
  text-transform: capitalize;
  margin: 10px;
  text-align: center;
  border-bottom: 2px solid black;
}

.project-box {
  background: rgb(122, 122, 105);
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 10px;
}

#all-projects-content,
.project-box ul li {
  margin: 0.5% 0;
}

#all-projects-content {
  margin: 5% 20%;
}

#all-projects-content ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#alert {
  margin: 3% 20%;
  display: none;
}
