@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~bootstrap/scss/bootstrap';

/* stylelint-disable */
html {
  height: 100vh;
  min-width: 600px;
  background-image: linear-gradient(130deg, rgba(8, 65, 18, 0.767), #0a1e44b4);
  background-repeat: no-repeat;
  background-size: auto;
}

body {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-bottom: 10px;
  font-family: 'Pacifico', sans-serif;
}

.navbar-brand {
  font-weight: bolder;
  font-size: larger;
}
