@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~bootstrap/scss/bootstrap';
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background: linear-gradient(rgba(80, 4, 33, 0.8), rgba(15, 1, 1, 0.329)247) ;
background-size: cover;  
}

