@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~bootstrap/scss/bootstrap';

html {
  height: 100vh;
  min-width: 600px;
  background-image: linear-gradient(130deg, #fff, #1c3f80);
  background-repeat: no-repeat;
  background-size: auto;
}

body {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-bottom: 10px;
  font-family: sans-serif;
}
